# Folders with large or unneeded data
data/
notebooks/
__pycache__/
.venv/
.ipynb_checkpoints/

# Output & artifacts
*.pyc
*.csv
*.parquet
*.log
*.db

# Editor and environment files
.DS_Store
.env
*.env
.idea/
.vscode/

# Python build artifacts
*.egg-info/
dist/
build/
